<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StandOff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E27EBB371D24BC8800720B58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E27EBB551D24BC8800720B58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E27EBB601D24BC8800720B58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
